{% extends "books/base.html" %}


{% block content %}
<style>
th, td {
  padding: 5px;
}

</style>

<div class="container">
<br>
    <div class="row">
        <div class="col-md-11"> <H3 style="text-align:center"> Add your Book's progress </H3></div>
        <div class="col-md-1"> <a href="{% url 'profile' %}">profile</a> </div>
    </div>
<hr>
  <form method="post">
    {% csrf_token %}
    <center>
        <table>  {{ form.as_table}}   </table>
      <br>
    <button type="submit" class="btn btn-primary">Add Progress</button>
    </center>
  </form>
</div>
{% endblock %}