<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book lover</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
  </style>
</head>
<body style="background-color:#ADD8E6">

  <div style="background-color:#ADD8E6">
    {% block content %}

    {% endblock %}
  </div>

  <footer>
    contact: inforohitindian@gmail.com
  </footer>
</body>
</html>


