{% extends "books/base.html" %}

{% block content %}

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
}

ul {
  text-align: left;
}

</style>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <center> <h3> Your Books </h3></center>
        </div>
        <div class="col-md-3">
            <a href="{% url 'profile' %}"> <h4> Profile </h4> </a>
        </div>
    </div>
    <div class="row">
        <table class="col-md-12">
            <tr>
                <th class="col-md-4">
                    <h5 align="left"> Book's Image </h5>
                </th>
                <th class="col-md-8">
                    <h5 align="center"> Book's Detail </h5>
                </th>
            </tr>
            {% for book in records %}
                <tr>
                    <td>
                        <img src="{{ book.book_image.url }}" alt="Book image" height="200" width="170" align="left"/>
                    </td>
                    <td>
                        <ul style="list-style-type: none;">
                            <li><b> Name -  {{ book.title| title }} </b></li>
                            <li><b> Author -  {{ book.author_obj.name| title}} </b></li>
                            <li><b> Status -  {{ book.status }} </b></li>
                            <li><b> Genre - {{ book.genre }} </b></li>
                            <li><b> Total pages - {{ book.total_pages }} </b></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}