{% extends "books/base.html" %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
<br>
   <center>
           <a href="/"> Visit homepage </a>
   </center>
<hr>

{% if messages %}
    <ul class="messages">
          {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<p class="text-danger" >Warning: </p>{% endif %}
                    <center>{{ message }}</center>
                </li>
          {% endfor %}
    </ul>
{% endif %}


<div class="container emp-profile">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% if user.profile.display_pic.url %}
                                <img src="{{user.profile.display_pic.url}}" alt="profile picture" height="200" width="170"/>
                            {% else %}
                                <img src="{{'/static/profiles/dpp.jpg' }}" alt="profile picture" height="200" width="170"/>
                            {% endif %}
                            <br><br>
                            <form method="POST" action="{% url 'upload_dp' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.display_pic}}
                                <button class="btn" style="width:50px; height:20px" type="submit">upload</button>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                     {{request.user.username| title}}
                                    </h5>
                                    <h6>
                                     {{request.user.email}}
                                    </h6>
                                    <p class="proile-rating">Total Books : <span> 60 </span></p>
                        </div>
                    </div>
                    <div class="col-md-2">
                     <a href="{% url 'logout' %}?next=/login/"> Logout </a><br>
                    </div>

                </div>

        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'book_list' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My Books</a>
                    <a href="{% url 'add_book' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Book</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <br><a href="{% url 'add_progress' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Reading Progress</a><br><br>
                    <a href="{% url 'progress_view' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Progress</a>
                </div>
            <div>
        </div>
     </div>
</div>
</div>
{% endblock %}